$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #FF101F;
$orange: #fd7e14 !default;
$yellow: #FFC914;
$green: #49E303;
$teal: #20c997 !default;
$cyan: #00AEEF;

$primary: $red;

$gray-900: #302F2B;




$border-color: $gray-900;

$border-radius: 0;
$border-radius-sm: .2rem !default;
$border-radius-lg: .3rem !default;
$border-radius-pill: 50rem !default;

$input-btn-focus-width: 0;

@font-face {
  font-family: Messapia;
  font-weight: bold;
  src: url(../fonts/Messapia/Messapia-Bold.woff) format('woff');
}

$font-family-sans-serif: Messapia, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-gutter-width: 4rem;
$spacer: 1.5rem;
