@import "variables";

@import "~bootstrap";

.btn-primary {
  color: $white;


  &:hover {
    color: $dark;
    background-color: $white !important;
  }
}

.question {
  min-height: 90vh;

}

.answer {
  position: relative;
  z-index: 0;
  color: $white;
   border-bottom: solid $dark map-get($border-widths, 4);

  &:before {
    content: '';
    background-color: $primary;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .15s ease-in-out;

  }

  &:hover {

    text-decoration: underline;
    text-underline-style: double;
    text-underline-offset: 3px;

    &::before {

      background-image: radial-gradient(transparentize($dark,.8) 33%, transparent 33%)  ;
      background-size: 6px 6px;
      background-repeat: repeat;
    }
  }

  &:nth-child(odd) {
    border-right: map-get($border-widths, 4) solid $dark !important;
  }
}

.cool-shadow, .question {
  background: $white;
  position: relative;


  --zindex: -2;

  &:before {
    content: '';
    z-index: -2;
    z-index: var(--zindex);
    position: absolute;
    display: block;
    top: 30px;
    left: -30px;
    width: 100%;
    height: 100%;
    background-size: 6px 6px;
    background-image: transparent;
    background-image: radial-gradient($black 33%, transparent 33%);
    background-repeat: repeat;
  }
}
